<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262862127608-36ltgd1gvuhg52no27il4fnjqot6ri1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262862127608-36ltgd1gvuhg52no27il4fnjqot6ri1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262862127608-elad2fn635qeic82irv4mvna4ckd4fld.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaBvF5upt7UuCScy2KLGRY1waeo0jtgQs</string>
	<key>GCM_SENDER_ID</key>
	<string>262862127608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pk.gov.wwf.apps</string>
	<key>PROJECT_ID</key>
	<string>ww-fund</string>
	<key>STORAGE_BUCKET</key>
	<string>ww-fund.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262862127608:ios:78012d4a6e0a00577f960d</string>
</dict>
</plist>